apiVersion: apps/v1
kind: Deployment
metadata:
  name: web-app-deployment
  labels:
    app: my-web-app
spec:
  # Ensure 3 replicas of the application are running
  replicas: 3
  selector:
    matchLabels:
      app: my-web-app
  template:
    metadata:
      labels:
        app: my-web-app
    spec:
      containers:
      - name: web-app-container
        # Use a simple, public image like Nginx
        image: nginx:latest
        ports:
        - containerPort: 80